﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />

    <link rel='stylesheet' href='~/css/main.css'/>
    <link rel='stylesheet' href='~/css/authorization.css'/>
</head>
<body>
    <header>
        <div class='mainNav_img_wrapper'>
            @if(WebApp.Helpers.CookieHelper.CookieAlreadyExists(Context)) {
                <img src='https://avatars.cloudflare.steamstatic.com/f3059f9e1f1482db055fee2a3dced7f7b3e103f0_full.jpg'/>
            }
        </div>
        <nav class='mainNav'>
            @if(WebApp.Helpers.CookieHelper.CookieAlreadyExists(Context))
            {
                <ul>
                    <li><a asp-controller="Overview" asp-action="Index">Oversigt</a></li>
                    <li><a asp-controller="News" asp-action="Index">Nyheder</a></li>
                    <li><a asp-controller="Prize" asp-action="Index">Gevinster</a></li>
                    <li><a asp-controller="Subscription" asp-action="Index">Abonnement</a></li>
                    <li><a asp-controller="Settings" asp-action="Partner">Indstillinger</a></li>
                </ul>
                <ul>
                    <li><a asp-controller="Help" asp-action="Index">Hjælp</a></li>
                    <li><a asp-controller="Authorization" asp-action="Logout">Log Ud</a></li>
                </ul>
            } else
            {
                <ul></ul>
                <ul>
                    <li><a asp-controller="Authorization" asp-action="Register">Registrer</a></li>
                    <li><a asp-controller="Authorization" asp-action="Login">Log Ind</a></li>
                </ul>
            }
        </nav>
    </header>
    <div class="wrapper">
        @RenderBody()
    </div>
    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
