/* Login */
main.login_wrapper {
    width: 60%;
    min-width: 700px;

    margin: 20% auto 0 auto;
    padding: .5rem 2rem;

    border: 2px solid black;

    position: relative;
}
h2.login_title {
    font-size: 3rem;
}
img.login_logo {
    width: 150px;
    aspect-ratio: 1;

    position: absolute;
    top: -75px;
    right: -50px;
}
form.login_form {
    margin: 1rem 0 0 0;

    display: flex;
    flex-direction: column;
}
input.login_input {
    margin: 0 0 1.5rem 0;
    padding: .2rem;

    border: 1px solid black;
    border-radius: 5px;

    font-size: 1.2rem;
}
p.login_referer {
    margin: 0;
    padding: 1rem 0 .5rem 0;

    border-top: 2px solid black;

    text-align:center;
}

/* Register */
main.register_wrapper {
    width: 60%;
    min-width: 700px;

    margin: 20% auto 0 auto;
    padding: .5rem 2rem;

    border: 2px solid black;
}
h2.register_title {
    padding: 0 0 .5rem 0;

    border-bottom: 2px solid black;

    font-size: 3rem;
    text-align: center;
}
p.register_info {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5rem;
}
form.register_form {
    display: flex;
    flex-direction: column;
}
input.register_input {
    margin: 0 0 1.5rem 0;
    padding: .2rem;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
}
div.register_tos_wrapper {
    margin: 0 0 .5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.2rem;
}
p.register_tos_text {
    margin: 0 0 .5rem 0;
}
input.register_tos_checkbox {
    width: 30px;
    height: 30px;
}