﻿/* General */
body{
    height: 100vh;

    overflow-x: hidden;
}
header {
    width: 200px;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
}

.wrapper {
    width: 80%;

    margin-left: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navigation */
nav.mainNav {
    width: 100%;
    height: 80%;

    margin: 0;
    padding: 0;
    
    border-right: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.mainNav_img_wrapper {
    width: 100%;
    height: 20%;
    min-height: 200px;

    margin: 0;
    padding: 0;

    border-right: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}
div.mainNav_img_wrapper > img {
    width: 80%;
    aspect-ratio: 1;

    border-radius: 10px;
}
.mainNav > ul {
    width: 100%;

    margin: 0 0 1rem 0;
    padding: 0;
}
.mainNav > ul > li {
    width: 100%;

    margin: 0 0 1rem 0;
    padding: 0;

    display: flex;

    list-style-type: none;
}
.mainNav > ul > li > a {
    color: black;

    width: 100%;

    padding: .5rem;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;

    transition: .2s ease-in-out;
}
.mainNav > ul > li > a:hover {
    color: #666;
}

/* Yes */
 h2 {
    padding: .5rem 5rem;

    border-bottom: 2px solid black;

    font-size: 3rem;
}

/* News */
main#mainNews {
    width: 80%;

    margin: 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form.news_form {
    width: 40%;

    display: flex;
    flex-direction: column;
}
form.news_form > h3 {
    margin: 0 auto .5rem auto;
}
form.news_form > input, textarea, div {
    margin-bottom: .5rem;

    font-size: 1.2rem;
}
form.news_form > input, textarea, div.form_link_wrapper > input {
    padding: 0.2rem;
}
div.form_link_wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;
}
div.form_link_wrapper > div {
    width: 15%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.form_link_wrapper > div > input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
}
div.form_link_wrapper > input {
    width: 80%;
}
form.news_form > input[type='button']{
    width: 40%;

    margin: 1rem auto;

    border: 1px solid black;
    border-radius: 5px;

    font-size: 1.5rem;
}

section#previousNews {
    width: 40%;

    padding-top: 2rem;
    margin-top: 2rem;

    border-top: 2px solid black;

    display: flex;
    flex-direction: column;
}
section#previousNews > h3 {
    margin: 0;
    padding: 0;

    border: 1px solid black;

    text-align: center;
}
section#previousNews > ul {
    min-height: 200px;

    margin: 0;
    padding: 0;

    border: 1px solid black;
    border-top: transparent;
}
section#previousNews > ul > li {
    list-style-type: none;
}

/* Settings */
main#mainSettings {
    width: 40%;

    display: flex;
    flex-direction: column;
}
form.settings_form {
    display: flex;
    flex-direction: column;

    font-size: 1.2rem;
}
form.settings_form > img {
    width: 200px;
    aspect-ratio: 1;

    margin: 1rem auto;
}
form.settings_form > section {
    display: flex;
    flex-direction: column;
}
form.settings_form > section > input {
    margin-bottom: .5rem;
    padding: .2rem;
}
section.settings_location {
    margin: 1rem 0 0 0;

    border-top: 2px solid black;
}
section.settings_location > h3 {
    margin: .5rem auto;
}
section.settings_location > ul {
    min-height: 200px;

    padding: 0;

    border: 1px solid black;

    list-style-type: none;
}
section.settings_location > ul > li {
    margin-bottom: .2rem;
    padding: 0.2rem; 0;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    text-align: center;
}
section.settings_location > ul > li:first-child {
    border-top: transparent;
}
form.settings_form > input[type='submit']{
    width: 40%;

    margin: 2rem auto 0 auto;

    border: 1px solid black;
    border-radius: 5px;

    font-size: 1.5rem;
}