﻿@model SharedProject.Models.PartnerModel;
@{
    ViewData["Title"] = "Partner Indstillinger";
}
<h2>Indstillinger</h2>
<main id='mainSettings'>
        @if(Model.Id != 0)
        {
            <form class='settings_form' asp-controller='Settings' asp-action='UpdatePartner' method='post'>
                <img src='https://avatars.cloudflare.steamstatic.com/f3059f9e1f1482db055fee2a3dced7f7b3e103f0_full.jpg'/>
                <input asp-for="Logo" placeholder="Midlertidig logo URL"/><!-- Skal være img upload? -->
                <section class='settings_basic_info'>
                    <input asp-for="Name" placeholder='Navn på partner/virksomhed' required/>
                    <textarea asp-for="Description" rows='5' placeholder='Beskrivelse af parnter/virksomhed...'></textarea>
                </section>
                <section class='settings_location'>
                    <h3>Placering</h3>
                    <ul>
                        <li>Tolbodgade 9, 5000 Odense</li>
                        <li>Stegstedvej 32, 5200 Odense</li>
                        <li>Opret Ny...</li>
                    </ul>
                </section>
                <input style='display:none;' asp-for='Id'/>
                <input type='submit' value='Gem Ændringer'/>
            </form>
            <form asp-controller='Settings' asp-action='DeletePartner' method='post'>
                <input style='display: none;' asp-for='Id'/>
                <input type="submit" value='Slet'/>
            </form>
        } else
        {
            <form class='settings_form' asp-controller='Settings' asp-action='CreatePartner' method='post'>
                <img src='https://avatars.cloudflare.steamstatic.com/f3059f9e1f1482db055fee2a3dced7f7b3e103f0_full.jpg'/>
                <input asp-for="Logo" placeholder="Midlertidig logo URL"/><!-- Skal være img upload? -->
                <section class='settings_basic_info'>
                    <input asp-for="Name" placeholder='Navn på partner/virksomhed' required/>
                    <textarea asp-for="Description" rows='5' placeholder='Beskrivelse af parnter/virksomhed...'></textarea>
                </section>
                <section class='settings_location'>
                    <h3>Placering</h3>
                    <ul>
                        <li>Tolbodgade 9, 5000 Odense</li>
                        <li>Stegstedvej 32, 5200 Odense</li>
                        <li>Opret Ny...</li>
                    </ul>
                </section>
                <input type='submit' value='Opret Partner'/>
            </form>
        }
</main>
<footer>
    <a asp-controller="Settings" asp-action="Partner">Partner</a>
    <a asp-controller="Settings" asp-action="User">Bruger</a>
</footer>