﻿@{
    ViewData["Title"] = "Bruger Indstillinger";
}
<h2>Indstillinger</h2>
<main id='mainSettings'>
    <form class='settings_form'>
        <section class='settings_basic_info'>
            <h3>Info</h3>
            <input type='Text' placeholder='Brugernavn' required/>
            <input type='email' placeholder='Email' required/>
        </section>
        <section class='settings_location'>
            <h3>Sikkerhed</h3>
            <input type='Password' placeholder='Kodeord' required/>
        </section>
        <input type='submit' value='Gem Ændringer'/>
    </form>
</main>
<footer>
    <a asp-controller="Settings" asp-action="Partner">Partner</a>
    <a asp-controller="Settings" asp-action="User">Bruger</a>
</footer>