﻿@model WebApp.ViewModels.NewsViewModel;
@{
    ViewData["Title"] = "Nyheder";
}
<h2>Nyheder</h2>
<main id='mainNews'>
    <form class='news_form' asp-controller='News' asp-action='CreateNews' method='post'>
        <h3>Opret Nyhed</h3>
        <input asp-for='FormModel.Title' placeholder='Titel...' required/>
        <textarea asp-for='FormModel.Description' rows='5' placeholder='Beskrivelse...'></textarea>
        <div class='form_link_wrapper'>
            <div>
                <label>Link:</label>
                <input type='checkbox' />
            </div>
            <input asp-for='FormModel.Link' placeholder='Indsæt Link...'/>
        </div>
        <input asp-for='FormModel.Image' placeholder='Billede...'/>
        <input type='submit' value='Opret'/>
    </form>
    <section id='previousNews'>
        <h3>Tidligere nyheder</h3>
        <ul>
            @if(Model.ListModel is not null)
            {
                foreach(var news in Model.ListModel)
                {
                    <li><a asp-controller='News' asp-action='News' asp-route-id="@news.Id">@news.Title</a></li>
                }
            }
            else
            {
                <li>Du har ikke nogle opslag endnu.</li>
            }
        </ul>
    </section>
</main>