﻿@model SharedProject.Models.NewsModel;
@{
    ViewData["Title"] = "Nyheder";
}
<h2>Nyheder</h2>
<main id='mainNews'>
    <form class='news_form' asp-controller='News' asp-action='UpdateNews' method='post'>
        <h3>Rediger Nyhed</h3>
        <input style='display: none;' asp-for='Id'/>
        <input asp-for='Title' placeholder='Titel...' required/>
        <textarea asp-for='Description' rows='5' placeholder='Beskrivelse...'></textarea>
        <div class='form_link_wrapper'>
            <div>
                <label>Link:</label>
                <input type='checkbox' />
            </div>
            <input asp-for='Link' placeholder='Indsæt Link...'/>
        </div>
        <input asp-for='Image' placeholder='Billede...'/>
        <input type='submit' value='Gem ændringer'/>
    </form>
    <form asp-controller='News' asp-action='DeleteNews' method='post'>
        <input style='display: none;' asp-for='Id'/>
        <input type="submit" value='Slet'/>
    </form>
</main>