﻿@model SharedProject.Models.LoginModel;
@{
    ViewData["Title"] = "Login";
}

<main class='login_wrapper'>
    <h2 class='login_title'>Partner - Login</h2>
    <img class='login_logo' src='https://avatars.cloudflare.steamstatic.com/f3059f9e1f1482db055fee2a3dced7f7b3e103f0_full.jpg'/>
    <form class='login_form' asp-controller='Authorization' asp-action='Login' method='post'>
        <input class='login_input' asp-for='UserName' placeholder='Email' required/>
        <input class='login_input' asp-for='Password' placeholder='Kodeord' required/>
        <input type='Submit' value='Login'/>
    </form>
    <p class='login_referer'>Ikke allerede medlem? <a asp-controller="Authorization" asp-action="Register">Klik her</a> for at registrere dig.</p>
</main>
