﻿@model SharedProject.Models.RegisterModel;
@{
    ViewData["Title"] = "Registrer";
}

<main class='register_wrapper'>
    <h2 class='register_title'>Registrering</h2>
    <p class='register_info'>Du er ved at registrere dig som en kommende partner af [REDACTED]. Før du begynder at udfylde dine informationer, bedes du læse vores <a href='#'>Servicevilkår</a>.</p>
    <form class='register_form' asp-controller='Authorization' asp-action='Register' method='post'>
        <input class='register_input' asp-for='UserName' placeholder='Brugernavn' required/>
        <input class='register_input' asp-for='Email' placeholder='Email' required/>
        <input class='register_input' asp-for='Password' placeholder='Kodeord' required/>
        <!--<input class='register_input' type='password' placeholder='Kodeord igen' required/>-->
        <div class='register_tos_wrapper'>
            <p class='register_tos_text'>Jeg bekræfer at have læst og forstået <a href=''>Servicevilkårene</a>.</p>
            <input class='register_tos_checkbox' type='checkbox' required/>
        </div>
        <input type='submit' value='Opret'/>
    </form>
</main>